.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: grey;
  height: 60px; /* Adjust this value to match the actual height of your header */
}

.logo {
  width: 100px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.profile,
.log-out,
.messenger-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.profile:hover,
.log-out:hover,
.messenger-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: black;
}
